<div class="container">

	<div class="col-md-10">

		<div class="row">

			<section class="fold">
				<br>

				<a><%=link_to "Home", languages_path%></a>  > <%=@language.name%>

			</section>

		</div>

		<div class="row">
				<br>

				<div class="question_title"><%=@question.title%></div>

		</div>

		<div class="row question_description">

				<br>

					<%=@question.description%>

				<br>

		</div>

		<div class="row">

				<br>

				<code><%=@question.answer.code%></code>

		</div>


	</div>

</div>



<script>






///////////////////////////////////////////////////////////////// Search

///////////////////////////////////////////////////////////////// Search


$("#submit").click(function() {

	var responseHolder = []
	console.log(responseHolder)

	  var searchTerm = $('#tags').val();

	  $("#content").nextAll().remove()
		$("#placeHolder").append("<div>Search Results</div>")


			$.ajax({
			type: 'GET',
			dataType: 'json',
			url: "http://localhost:3000#"
		}).done(function grabber(response) {
			      for (i = 0; i < response.length; i++) {
						var responseSearcher = (response[i][0].includes(searchTerm))
						if (responseSearcher == 1) {
							responseHolder.push({label:response[i][0], value:response[i][1]})
							var lastEntry = responseHolder
							console.log(lastEntry)
							for (i = 0; i < lastEntry.length; i++) {
							$("#placeHolder").append("<div><a href='" + lastEntry[i].value + "'>" + lastEntry[i].label + "</a></div>")
							}

						}
					}
		});
});


/////////////////////////////////////////////////////////////////

$(function() {


	var questions = [];

	$.ajax({
		type: 'GET',
		dataType: 'json',
		url: "http://localhost:3000#"
	}).done(function(response) {
			console.log(response);
			for (i = 0; i < response.length; i++) {
					questions.push({label:response[i][0], value:response[i][1]})
			}

			$( "#tags" ).autocomplete({
				source: questions,
				select: function(event, ui) {
					var destination = ui.item.value
					window.location.assign(destination)
					this.value = "";
					return false;
				}
			});

		});
});

jQuery.ui.autocomplete.prototype._resizeMenu = function () {
  var ul = this.menu.element;
  ul.outerWidth(this.element.outerWidth());
}

</script>
