<div class="container">

	<div class="col-md-10">

		<div class="row">

			<section class="fold">
				<br>

				<a><%=link_to "Home", languages_path%></a>  > <%=@language.name%>

			</section>

		</div>

		<div class="row">
				<br>

				<div class="question_title"><%=@question.title%></div>

		</div>

		<div class="row question_description">

				<br>

					<%=@question.description%>

				<br>

		</div>

		<div class="row">

				<br>

				<code><%=@question.answer.code%></code>

		</div>


	</div>

</div>
