<!DOCTYPE html>
<html>
<head>
  <title>Newbie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Dosis:300,400,500,600' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="nav_side">

    <img src="http://chadxsmith.co/images/logo.png">

    <div class="nav_side-header">Search</div>

  <div class="ui-widget">
    <label for="tags"></label>
    <input type="text" id="tags">
    <input type="submit" value="Submit">
  </div>

  	<div class="nav_side-header">Categories</div>

  	<ul class="nav_side-subheader">
      <li id="All"><a href="#">All</a></li>
  	  <li id="HTML"><a href="#">HTML</a></li>
      <li id="CSS"><a href="#">CSS</a></li>
      <li id="JavaScript"><a href="#">JavaScript</a></li>
      <li id="Ruby"><a href="#">Ruby</a></li>
      <li id="GIT"><a href="#">GIT</a></li>

  	</ul>

    <div class="nav_side-header">Social Media</div>
    <div class="row">
      <div class="col-md-9">
          <div class="icon-row">
              <a href="#"><i class="fa fa-envelope fa-lg"></i></a>
              <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
              <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
              <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
          </div>
      </div> <!-- end of col-md-6 -->
  </div>




  </div>

<main>


  <%= yield %>
</main>

</body>

</html>

<script>




$(function() {


	var responses = []

		$.ajax({
		type: 'GET',
		dataType: 'json',
		url: "http://localhost:3000#"
		}).done(function(response) {
			for (i = 0; i < response.length; i++) {
					responses.push(response[i]["title"])
			}

			$( "#tags" ).autocomplete({
				source: responses
			});
		})
});

// save the value of the input field
// what the value is associated to within the question object
// option 1) redirect to the object's show (within ajax )




}

</script>
